# Auto detect text files and perform LF normalization
* text=auto

# C ve header dosyaları analizde dikkate alınsın
*.c linguist-detectable=true
*.h linguist-detectable=true
lcd_for_nuvoton/*.c linguist-detectable=true
lcd_for_nuvoton/*.h linguist-detectable=true

# Makefile ve proje yapı dosyaları analiz dışında kalsın
Makefile linguist-detectable=false
GCC/** linguist-detectable=false
