# Auto detect text files and perform LF normalization
* text=auto

# C ve header dosyaları analiz edilsin
*.c linguist-detectable=true
*.h linguist-detectable=true

# .d dosyaları analiz dışı kalsın
*.d linguist-detectable=false

# Derleyici/çıkış klasörleri analiz dışı kalsın
i2c-lcd-nuvoton-lib/lcd_for_nuvoton/GCC/** linguist-detectable=false

# Makefile analiz dışı kalsın
Makefile linguist-detectable=false
